header {
    font-family: "Lora", serif;
    // background-color: #6495ED;
    background-color: $background-color;
    padding: 20px;
    text-align: right;
    position: fixed;
    overflow: visible;
    height: 100%;
    margin: 0px;
    margin-top: -20px;
  }